<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="Entidades" connectionString="metadata=res://*/BD_ETicket.csdl|res://*/BD_ETicket.ssdl|res://*/BD_ETicket.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=sakuma;USER ID=E_TICKET&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>