<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages buffer="true"
        masterPageFile="~/MasterPage/Admin.master"
        enableEventValidation="false">
        </pages>
    </system.web>
  <connectionStrings>
    <add name="Entidades" connectionString="metadata=res://*/BD_ETicket.csdl|res://*/BD_ETicket.ssdl|res://*/BD_ETicket.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost;PASSWORD=sakuma;USER ID=E_TICKET&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServicePruebaSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49193/Service1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServicePruebaSoap" contract="fru.WebServicePruebaSoap"
        name="WebServicePruebaSoap" />
    </client>
  </system.serviceModel>
</configuration>
