<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServicePruebaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49193/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServicePruebaSoap" contract="fru.WebServicePruebaSoap"
                name="WebServicePruebaSoap" />
        </client>
    </system.serviceModel>
</configuration>